<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <label>Nama : </label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name"> 
            <label>Alamat : </label>
            <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address" v-model="address"></textarea> 
            <label>Nomor Handphone : </label>
            <input type="text" :disabled="buttonStatus == 'upload'"  name="no_hp" ref="no_hp" v-model="no_hp"> 
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateBlog(idEditBlog)">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadBlog)" style="margin-top:5px; margin-bottom:5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
        </form>

        <br><br>

        <table border=1>
            <tr v-for="blog of blogs">
                <td>
                    <img width=100 :src="blog.photo ? domain + blog.photo : 'https://dummyimage.com/16:9x1080'" alt="">
                </td>
                <td>
                    <b>Nama : </b> {{ blog.name }} <br>
                    <b>Alamat : </b> {{ blog.address }} <br>
                    <b>Nomor Handphone : </b> {{ blog.no_hp }} <br>
                </td>
                <td>
                    <button @click="editBlog(blog)">Edit</button>
                    <button @click="removeBlog(blog.id)">Hapus</button>
                    <button @click="uploadPhoto(blog)">Upload Foto</button>
                </td>
            </tr>
        </table>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            name : '',
            address : '',
            no_hp : '',
            errors : [],
            blogs : [],
            domain : 'http://demo-api-vue.sanbercloud.com',
            buttonStatus : 'submit',
            idEditBlog : null,
            idUploadBlog : null
        } ,
        methods: {
            validationForm : function() {
                this.errors = []

                if(this.name.length < 3) {
                    this.errors.push('Nama minimal 3 karakter')
                    this.$refs.name.focus()
                }

                if(this.address.length > 200) {
                    this.errors.push('Alamat maksimal 200 karakter')
                    this.$refs.address.focus()
                }

                if(this.no_hp.length < 10) {
                    this.errors.push('Nomor Handphone minimal 10 karakter')
                    this.$refs.no_hp.focus()
                }
            } ,
            submitForm : function() {
                this.validationForm()

                if(this.errors.length === 0) {
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                        method : "post",
                        url : `${this.domain}/api/member`,
                        data : formData
                    }

                axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getBlogs()
                        alert(response.data.message)
                    })
                    .catch( (error) => {

                    })
                }
            } ,
            getBlogs : function() {
                const config = {
                    method : "get",
                    url : `${this.domain}/api/member`
                }

                axios(config)
                    .then( (response) => {
                        // handle success
                        this.blogs = response.data.blogs
                    })
                    .catch( (error) => {
                        // handle error
                        console.log(error)
                    })
            } ,
            removeBlog : function(id) {
                const config = {
                    method : "post",
                    url : `${this.domain}/api/member/${id}`,
                    params : { _method : "DELETE"}
                }

                axios(config)
                    .then( (response) => {
                        this.getBlogs()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        // handle error
                        console.log(error)
                    })

                console.log(id)
            } ,
            editBlog : function(blog) {
                this.name = blog.name
                this.address = blog.address
                this.no_hp = blog.no_hp
                this.buttonStatus = 'update'
                this.idEditBlog = blog.id    
            } ,
            clearForm : function() {
                this.name = ''
                this.address = ''
                this.no_hp = ''
                this.buttonStatus = 'submit'
                this.idEditBlog = null
                this.idUploadBlog = null
            } ,
            updateBlog : function(id) {
                this.validationForm()

                if(this.errors.length === 0) {
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                        method : "post",
                        url : `${this.domain}/api/member/${id}`,
                        params : { _method : "PUT"},
                        data : formData
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(errpr)
                        })
                }
            } ,
            uploadPhoto : function(blog) {
                this.name = blog.name
                this.address = blog.address
                this.no_hp = blog.no_hp
                this.buttonStatus = 'upload'
                this.idUploadBlog = blog.id                  
            } ,
            submitPhoto : function(id) {
                let file = this.$refs.photo.files[0]

                let formData = new FormData()
                formData.append('photo', file)

                let config = {
                    method : "post",
                    url : `${this.domain}/api/member/${id}/upload-photo`,
                    data : formData
                }

                axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getBlogs()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        // handle error
                        console.log(error)
                    })
            }
        } ,
        created() {
            this.getBlogs()
        }
    })
    </script>
</body>
</html>